body{
    background-image: url(https://img.freepik.com/free-photo/corn-isolated-white-background_93675-36142.jpg?w=826);
    background-size: 100px auto;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}
h1{font-size: 44px;}
.main_header_p{font-size: 22px; margin-top: -15px;}
#main{
    background-color: hsl(60, 20%, 100%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 2px white;
    padding: 0 30px 30px;
    border-radius: 20px;
}
main header{
    display: flex;
    margin-bottom: 0 -30px 30px;
    justify-content: space-around;
}
.logo-loyola{
    max-width: 100%;
    width: auto;
    height: 100px;
    align-self: center;
}
.main_header_img{
    display: flex;
    align-items: center;
}
.main_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main_botones{
    background-color: rgb(107, 145, 27);
    margin: 0 -30px 20px;
    display: flex;
    flex-direction: column;
    color: white;
}
#main_botones_subseccion{
    display: grid;
    background-color: rgb(217, 212, 12);
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 15px;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px;
}
.boton{
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background-color: rgb(65, 120, 34);
    padding: 20px;
}
.boton:hover{
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);
}
.boton:active{
    opacity: 0.6;
}
#main_img-distribucion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-distribucion_finca{
    margin-bottom: 10px;
    max-width: 100%;
    width: 1000px;
    height: auto;
}
@media(max-width: 500px){
    body{
        padding: 30px 0;
        background-size: 50px auto;
    };
    h1{font-size: 36px;}
    .main_header_p{font-size: 18px;}
    main header{
        display: flex;
        flex-direction: column;
    }
    .main_header{
        margin-top: -60px;
    }
    .main_header_img{
        width: 100%;
        height: 200px;
        justify-content: center;
    }
}
